[Unit]
Description=demo.hoist.io service
After=config.service

[Service]
User=core
Restart=always
ExecStartPre=-/usr/bin/docker kill beta.hoist.io-%i
ExecStartPre=-/usr/bin/docker rm beta.hoist.io-%i
ExecStartPre=-/usr/bin/docker pull hoist/portal.hoist.io:beta
ExecStart=/usr/bin/docker run --name beta.hoist.io-%i -e "SERVICE_TAGS=http,nodejs,beta,production,https-hoist-io" -e "SERVICE_NAME=beta" -e "SERVICE_8000_CHECK_HTTP=/api/healthcheck" -e "SERVICE_8000_CHECK_INTERVAL=15s" -e "NODE_ENV=production" --volumes-from config -P hoist/portal.hoist.io:beta
ExecStop=/usr/bin/docker stop beta.hoist.io-%i
TimeoutStartSec=30m

[X-Fleet]
Conflicts=beta.hoist.io@*.service
MachineMetadata=container_type=web
