[Unit]
Description=overlord-web
Requires=config.service
After=config.service

[Service]
User=core
Restart=always
ExecStartPre=-/usr/bin/docker kill overlord-web-%i
ExecStartPre=-/usr/bin/docker rm overlord-web-%i
ExecStartPre=-/usr/bin/docker login -u="buildmaster" quay.io
ExecStartPre=-/usr/bin/docker pull quay.io/hoist/overlord:web-web_server
ExecStart=/usr/bin/docker run --name overlord-web-%i  -e "SERVICE_TAGS=http,nodejs,overlord,production,https-hoist-io" -e "SERVICE_NAME=overlord" -e "NODE_ENV=production" -e "FLEETCTL_STRICT_HOST_KEY_CHECKING=false" -v /usr/bin/fleetctl:/usr/bin/fleetctl --volumes-from config -P quay.io/hoist/overlord:web-web_server
ExecStop=/usr/bin/docker stop overlord-web-%i
TimeoutStartSec=30m

[X-Fleet]
Conflicts=overlord-web@*.service
MachineMetadata=container_type=web
