[Unit]
Description=overlord-web
After=config.service

[Service]
User=core
Restart=always
ExecStartPre=-/usr/bin/docker kill overlord-web-%i
ExecStartPre=-/usr/bin/docker rm overlord-web-%i
ExecStartPre=-/usr/bin/docker pull quay.io/hoist/overlord:master
ExecStart=/usr/bin/docker run --name overlord-web-%i  -e "SERVICE_TAGS=http,nodejs,overlord,production,https-hoist-io" -e "SERVICE_NAME=overlord" -m 150M -e "NODE_ENV=production" -e "FLEETCTL_STRICT_HOST_KEY_CHECKING=false" -e "FLEETCTL_TUNNEL=fleet.hoist.internal:2222" -e "SERVICE_8000_CHECK_HTTP=/api/heartbeat" -e "SERVICE_8000_CHECK_INTERVAL=15s" -v /usr/bin/fleetctl:/usr/bin/fleetctl --volumes-from config -P quay.io/hoist/overlord:master
ExecStop=/usr/bin/docker stop overlord-web-%i
TimeoutStartSec=30m

[X-Fleet]
Conflicts=overlord-web@*.service
MachineMetadata=container_type=web
