[Unit]
Description=overlord-web
BindsTo=overlord-web@%i.service

[Service]
User=core
ExecStartPre=-/usr/bin/docker kill overlord-web-%i
ExecStartPre=-/usr/bin/docker rm overlord-web-%i
ExecStartPre=-/usr/bin/docker login -u="buildmaster" quay.io
ExecStartPre=-/usr/bin/docker pull quay.io/hoist/overlord:web
ExecStart=/usr/bin/docker run --name overlord-web-%i  -e "SERVICE_TAGS=http,nodejs,overlord,production,https-hoist-io" -e "SERVICE_NAME=overlord" -e "NODE_ENV=production" --volumes-from config -P quay.io/hoist/overlord:web
ExecStop=/usr/bin/docker stop overlord-web-%i
TimeoutStartSec=30m

[X-Fleet]
Conflicts=overlord-web@*.service
MachineMetadata=container_type=web
