.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.connector-component {
  background:#f7f7f7;
  height:100%;
  .small-tabs {
    border-bottom:0px;
    margin:0px 40px 0px;
    .tab {
      color:#808080;
      &.active {
        color:#2291DA;
        border-bottom-color:#2291DA;
      }
    }
  }
  .header-block {
    @extend .cf;
    .title {
      padding-top:20px;
      display:inline-block;
      font-size:26px;
      color:#2C343F;
    }
    .header-image, .icon {
      float:left;
      margin-right:16px;
    }
    .header-details {
      float:left;
    }
  }
  .labels {
    .label {
      border:1px solid #CCCCCC;
      color:#CCCCCC;
      border-radius:3px;
      padding:4px 7px;
      margin-right:7px;
      margin-top:7px;
    }
  }
}
.close-times {
  font-size: 15px;
  position: absolute;
  top: 8px;
  right: 10px;
  text-decoration: none;
  color: #CCCCCC;
  cursor: pointer;
}
