[Unit]
Description=Inactive Queue Pruner Task
Requires=docker.service
After=docker.service
Requires=config.service
After=config.service
Wants=queue-pruner.timer

[Service]
User=core
Type=oneshot
ExecStartPre=-/usr/bin/docker kill queue-pruner
ExecStartPre=-/usr/bin/docker rm queue-pruner
ExecStartPre=-/usr/bin/docker pull hoist/overlord:master
ExecStart=/usr/bin/docker run -m 700M  --name queue-pruner --entrypoint="/bin/bash" -e "NODE_ENV=production" --volumes-from config hoist/overlord:master ./scripts/start_pruner.sh
ExecStop=/usr/bin/docker stop queue-pruner
TimeoutStartSec=30m

[Install]
WantedBy=queue-pruner.target

[X-Fleet]
Conflicts=queue-pruner.service
MachineMetadata=container_type=web

