[Unit]
Description=Rebalancer task
Requires=docker.service
After=docker.service
Requires=config.service
After=config.service

[Service]
User=core
Type=simple
Restart=always
ExecStartPre=-/usr/bin/docker kill rebalancer
ExecStartPre=-/usr/bin/docker rm rebalancer
ExecStart=/usr/bin/docker run --name rebalancer --entrypoint="/bin/bash" -e "NODE_ENV=production" --volumes-from config hoist/overlord:master ./scripts/start_rebalancer.sh
ExecStop=/usr/bin/docker stop rebalancer
ExecStopPost=-/usr/bin/docker kill rebalancer
TimeoutStartSec=30m
StartLimitInterval=0
RestartSec=15s

[X-Fleet]
Conflicts=rebalancer.service
MachineMetadata=container_type=web

