[Unit]
Description=Reablancer Timer (every minute)

[Timer]
OnBootSec=5min
OnCalendar=*:0/1
Persistent=true

[Install]
WantedBy=local.target

[X-Fleet]
MachineOf=rebalancer.service
