[Unit]
Description=Scaler task
Requires=docker.service
After=docker.service
Requires=config.service
After=config.service
Wants=scaler.timer

[Service]
User=core
Type=oneshot
ExecStartPre=-/usr/bin/docker kill scaler
ExecStartPre=-/usr/bin/docker rm scaler
ExecStartPre=-/usr/bin/docker pull hoist/overlord:master
ExecStart=/usr/bin/docker run -m 700M  --name scaler --entrypoint="/bin/bash" -e "NODE_ENV=production" --volumes-from config hoist/overlord:master ./scripts/start_scaler.sh
ExecStop=/usr/bin/docker stop scaler
TimeoutStartSec=30m

[Install]
WantedBy=scaler.target

[X-Fleet]
Conflicts=scaler.service
MachineMetadata=container_type=web

